@import '../../../../../assets/helpers/variables';
@import '../../../../../assets/components/task';

.adding-new-item-input {
  @include task_item();
  border: none;
  width: 100%;
  height: 50px;
  &:focus {
    outline: none;
  }
}

.close-icon {
  color: #6b778c;
  cursor: pointer;
}
