<div *ngIf="!isEditMode" class="add-new-card" (click)="isEditMode = true">
  + Add another card
</div>

<div *ngIf="isEditMode" class="adding-new-card">
  <input
    type="text"
    class="adding-new-card-input"
    name="newCardItem"
    ngModel
    #newCardItem="ngModel"
    (keydown.enter)="addCard(newCardItem.value)"
    [placeholder]="placeholder"
    [trelloAutoFocus]
  />
  <div class="d-flex align-items-center">
    <button
      type="button"
      class="btn btn-success btn-sm"
      (click)="addCard(newCardItem.value)"
    >
      {{ buttonTitle }}
    </button>
    <span class="close-icon ml-2" (click)="isEditMode = false">X</span>
  </div>
</div>
