<div *ngIf="isEditMode">
  <input
    type="text"
    class="adding-new-item-input"
    name="newItem"
    ngModel
    #newItem="ngModel"
    (keydown.enter)="addItem(newItem.value)"
    [placeholder]="placeholder"
    [trelloAutoFocus]
  />
  <div class="d-flex align-items-center">
    <button
      type="button"
      class="btn btn-success btn-sm"
      (click)="addItem(newItem.value)"
    >
      {{ buttonTitle }}
    </button>
    <span class="close-icon ml-2" (click)="isEditMode = false">X</span>
  </div>
</div>
