$main-color: #0079bf;
$main-font-size: 14px;

$border-radius: 3px;

$project-card-padding: 6px 8px 2px;
$project-card-bg-color: #ebecf0;

$project-list-width: 250px;

@mixin project-gutter() {
  margin-left: 8px;
}
