$main-color: #0079bf;
$header-color: #0067a3;
$main-font-size: 14px;

$border-radius: 3px;

$project-item-padding: 6px 8px 2px;
$project-card-bg-color: #ebecf0;

$project-list-width: 250px;

@mixin project-gutter() {
  margin-left: 8px;
}

@mixin backgroundOverlay() {
  background-color: #586a74;
  bottom: 0;
  left: 0;
  opacity: 0.5;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
}
