<div class="project-card">
  <div class="project-card-actions">
    <span class="pca remove" (click)="removeProject(project.id)">X</span>
  </div>
  <div class="project-card-title">{{ project.name }}</div>

  <div
    class="tasks"
    cdkDropList
    cdkDropListOrientation="vertical"
    (cdkDropListDropped)="dropTask($event, project.tasks)"
  >
    <div class="task-card" *ngFor="let task of project.tasks" cdkDrag>
      {{ task.name }}
    </div>

    <!-- Add new item -->
    <trello-add-new-task (add)="addTaskInProject($event)"></trello-add-new-task>
    <!-- /Add new item -->
  </div>
</div>
