<div class="columns-wrapper">
  <!-- Icons column -->
  <div class="icons-column">
    <div class="d-flex align-items-center">
      <span class="icon ic-credit-card"></span>
    </div>
  </div>
  <!-- /Icons column -->

  <!-- Content column -->
  <div class="content-column">
    <div class="ml-1 modal-title">{{ title }}</div>
    <div class="ml-1 modal-subtitle">In list {{ project.name }}</div>
  </div>
  <!-- /Content column -->

  <!-- Actions column -->
  <div class="actions-column"></div>
  <!-- Actions column -->
</div>
