@import '../../../assets/helpers/variables';

.page-header {
  background-color: $header-color;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;

  span {
    color: #7fb3d1;
    font-size: 20px;
    font-weight: bold;
  }
}
