<div class="project-card">
  <div class="project-card-actions">
    <span class="pca remove" (click)="removeProject(project.id)">X</span>
  </div>
  <div class="project-card-title">{{ project.name }}</div>

  <div
    class="tasks"
    cdkDropList
    cdkDropListOrientation="vertical"
    (cdkDropListDropped)="dropTask($event, project.tasks)"
  >
    <div
      class="task-card"
      *ngFor="let task of project.tasks"
      cdkDrag
      (click)="selectTask(task)"
    >
      {{ task.name }}
    </div>

    <!-- Add new item -->
    <trello-new-card (add)="addTaskInProject($event)"></trello-new-card>
    <!-- /Add new item -->
  </div>
</div>

<trello-modal
  [visible]="isModalVisible"
  (close)="closeModal()"
  [title]="selectedTask?.name"
  subtitle="{{ 'in list ' + project?.name }}"
>
  <div content>WIP</div>
</trello-modal>
